@charset "UTF-8";
:root {
  /* основний колір тексту */
  --primary-text-color: #757575;
  /* колір ссилок ховер */
  --accent-color: #2196f3;
  /* другорядний колір тексту */
  --title-text-color: #212121;
  /* колір тексту заголовка в Герої */
  --order-title-text-color: #fff;
  /* фон сторінки вебсайту */
  --primary-bg-color: #fff;
  /* другорядний фон сторінки(футер та замовлення послу) */
  --footer-bg-color: #2f303a;
  /* колір контактів в футері */
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  /* колір лого "студіо" в хедері */
  --logo-studio-header-color: #000;
  /* колір фону ""Наша команда */
  --secondary-bg-color: #f5f4fa;
  /* фон кнопки в hero-btn */
  --background-color-hero-btn: #188CE8;
  /* колір бордерів */
  --border-color: #ECECEC;
  /* колір бордеру-портфоліо */
  --border-portfolio: #eeeeee;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --footer-social-bg-color: rgba(255, 255, 255, 0.1);
  --team-social-icon-color: #afb1b8;
  --project-overlay-color: rgba(33, 150, 243, 0.9);
  --work-overlay-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-btn-hover: #188ce8;
  --primary-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-margin: 30px;
  --secondary-margin: 50px;
  --small-margin: 10px;
  --portfolio-address-margin: 20px;
  --main-title-size: 16px;
  --main-text-size: 14px;
  --main-border-radius: 4px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

input {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.subscription-button, .hero__button, .modal__button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--primary-animation), background-color var(--primary-animation);
}

.address__link, .address__map, .projects__link, .logo, .site-nav__link,
.contacts__link, .menu-socials__link, .mob-menu__email, .mob-menu__tel, .mob-menu__link {
  text-decoration: none;
  transition: color var(--primary-animation);
}
.address__link:hover, .address__map:hover, .projects__link:hover, .logo:hover, .site-nav__link:hover,
.contacts__link:hover, .menu-socials__link:hover, .mob-menu__email:hover, .mob-menu__tel:hover, .mob-menu__link:hover, .address__link:focus, .address__map:focus, .projects__link:focus, .logo:focus, .site-nav__link:focus,
.contacts__link:focus, .menu-socials__link:focus, .mob-menu__email:focus, .mob-menu__tel:focus, .mob-menu__link:focus {
  color: var(--accent-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:first-child) {
  margin-left: 10px;
}

.team .socials__link {
  background-color: var(--primary-bg-color);
}
.team .socials__icon {
  fill: var(--team-social-icon-color);
}

@media screen and (min-width: 1200px) {
  footer .socials {
    justify-content: left;
  }
}
footer .socials__link {
  background-color: var(--footer-social-bg-color);
}
footer .socials__icon {
  fill: var(--primary-bg-color);
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--primary-animation);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  transition: fill var(--primary-animation);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--primary-bg-color);
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity var(--primary-animation), visibility var(--primary-animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--primary-animation), opacity var(--primary-animation);
  min-width: 95%;
  padding: 40px 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--primary-animation);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.modal__field:not(:nth-child(4)) {
  margin-bottom: 10px;
}
.modal__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal__label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--primary-animation);
}
.modal__input.comment {
  height: 120px;
  padding: 12px 16px;
  outline: none;
  resize: none;
}
.modal__input.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  fill: var(--title-text-color);
  left: 12px;
  top: 50%;
  transition: fill var(--primary-animation);
}

.modal__input:focus {
  border-color: var(--accent-color);
}
.modal__input:focus ~ .modal__icon {
  fill: var(--accent-color);
}

.modal__agreement {
  margin-bottom: 30px;
}

.modal__checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.modal__checkbox__icon {
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color var(--primary-animation), border-color var(--primary-animation);
}
.modal__checkbox:checked ~ .modal__checkbox__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.agreement-link {
  color: var(--accent-color);
}

.modal__button {
  display: block;
  margin: 0 auto;
}
.modal__button:hover, .modal__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--modal-btn-hover);
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-bg-color);
}
@media screen and (min-width: 768px) {
  header {
    min-height: 80px;
  }
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .container--header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.menu-open__button,
.menu-close__button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-bg-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open__button,
.menu-close__button {
    display: none;
  }
}

.menu-open__icon,
.menu-close__icon {
  transition: fill var(--primary-animation);
}
.menu-open__button:hover .menu-open__icon, .menu-open__button:focus .menu-open__icon, .menu-close__button:hover .menu-open__icon, .menu-close__button:focus .menu-open__icon,
.menu-open__button:hover .menu-close__icon,
.menu-open__button:focus .menu-close__icon,
.menu-close__button:hover .menu-close__icon,
.menu-close__button:focus .menu-close__icon {
  fill: var(--accent-color);
}

.mob-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 10px 15px 48px 40px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 38px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  color: var(--title-text-color);
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__tel {
  display: block;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5384615385;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
  transition: text-decoration var(--primary-animation);
}
.mob-menu__tel:hover, .mob-menu__tel:focus {
  text-decoration: underline;
}
@media screen and (min-width: 480px) {
  .mob-menu__tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
  }
}

.mob-menu__email {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-socials__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (max-width: 479px) {
  .menu-socials__list {
    margin-left: -10px;
  }
}
@media screen and (min-width: 480px) {
  .menu-socials__list {
    flex-wrap: nowrap;
  }
}

.menu-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--socials-border-color);
}
@media screen and (max-width: 479px) {
  .menu-socials__item {
    padding-left: 10px;
  }
}
@media screen and (min-width: 480px) {
  .menu-socials__item:not(:first-child) {
    padding-left: 10px;
  }
}

.menu-socials__link {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: text-decoration var(--primary-animation);
}
.menu-socials__link:hover, .menu-socials__link:focus {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link,
.contacts__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.site-nav__link {
  color: var(--title-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    justify-content: center;
  }
}

.contacts__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill var(--primary-animation);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
  }
}

.logo__studio-header {
  color: var(--logo-studio-header-color);
}

.logo__studio-footer {
  color: var(--primary-bg-color);
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  min-height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_img_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-bg-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_img_mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_img_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_img_tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_img-2x.jpg);
  }
}

.container--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
}
.hero__button:hover, .hero__button:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .section--features {
    padding-bottom: 0px;
  }
}

.features {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(25% - 30px);
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section--works {
    display: none;
  }
}

.works {
  display: flex;
}

.works__item {
  position: relative;
  overflow: hidden;
}
.works__item:not(:first-child) {
  margin-left: 30px;
}

.works__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--work-overlay-color);
}

.works__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.section--team {
  background-color: var(--secondary-bg-color);
}

.team {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(25% - 30px);
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__content {
    padding-bottom: 30px;
  }
}

.team__desc, .team__title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.team__title {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients__item {
  flex-basis: calc(50% - 30px);
  margin-bottom: 30px;
  margin-left: 30px;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(33.3333333333% - 30px);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--team-social-icon-color);
  border-radius: 4px;
  transition: border-color var(--primary-animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: var(--team-social-icon-color);
  transition: fill var(--primary-animation);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -15px;
}
@media screen and (min-width: 768px) {
  .filters {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-left: 8px;
}
@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
}

.filters__button {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--primary-animation), background-color var(--primary-animation), box-shadow var(--primary-animation);
}
.filters__button:hover, .filters__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .projects__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--primary-animation);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--project-overlay-color);
  transform: translateY(100%);
  transition: transform var(--primary-animation);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  transform: translateY(0);
}

.projects__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
@media screen and (max-width: 479px) {
  .projects__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .projects__text {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .projects__text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__text {
    padding: 63px 24px;
  }
}

.projects__content {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio);
  border-left: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  flex-grow: 1;
}

.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.container--footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container--footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container--footer {
    text-align: left;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-block:nth-child(2) {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-block {
    margin-bottom: 60px;
  }
}

.address {
  margin-top: 20px;
}

.address__list {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__map {
  color: var(--primary-bg-color);
  white-space: nowrap;
}

.address__link {
  color: var(--footer-contacts-color);
}

.footer-block__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

.subscriprion-form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscriprion-form {
    display: flex;
    margin-top: 20px;
  }
}

.subscriprion-form__email {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscriprion-form__email {
    margin-right: 12px;
  }
}

.subscriprion-form__input {
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .subscriprion-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscriprion-form__input {
    width: 358px;
  }
}

.subscription-button__data {
  right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-button__icon {
  margin-left: 10px;
  fill: var(--primary-bg-color);
  transition: fill var(--primary-animation);
}
.subscription-button:hover .subscription-button__icon, .subscription-button:focus .subscription-button__icon {
  fill: var(--accent-color);
}

.subscription-button:hover, .subscription-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}/*# sourceMappingURL=main.css.map */