footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bg-color);
}

.container--footer {
text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;
    }
}

.footer-block {
@media screen and (min-width: 768px) {
        &:nth-child(2) {
            margin-top: 5px;
        }
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

.address {
    margin-top: 20px;
}

.address__list {
    font-style: normal;
    @include font(14px, 400, 24px);
}

.address__item:not(:last-child) {
margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.address__map {
    @extend %link;
    color: var(--primary-bg-color);
    white-space: nowrap;
}

.address__link {
    @extend %link;
    color: var(--footer-contacts-color);
}

.footer-block__subtitle {
    @include subtitle($color: var(--primary-bg-color));
    margin-bottom: 20px;
}

.subscriprion-form {
text-align: center;

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-top: 20px;
    }
}

.subscriprion-form__email {
margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}

.subscriprion-form__input {
    height: 50px;
    width: 100%;

    @include font(16px, 400, 20px);
    color: var(--footer-contacts-color);

    padding-left: 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    @media screen and (min-width: 480px) {
            width: 450px;
        }
    
    @media screen and (min-width: 1200px) {
            width: 358px;
        }
}

.subscription-button__data {
    right: 28px;
    @include centeredFlex();
}

.subscription-button__icon {
    margin-left: 10px;
    fill: var(--primary-bg-color);

    transition: fill var(--primary-animation);

    .subscription-button:hover &,
    .subscription-button:focus & {
        fill: var(--accent-color);
    }
}

.subscription-button {
    @extend %button;

    &:hover,
    &:focus {
        color: var(--accent-color);
        background-color: var(--primary-bg-color);
    }
}